
global
  maxconn 100 
  #debug                                   # uncomment to enable debug mode for HAProxy

defaults
  mode http                                # enable http mode which gives of layer 7 filtering
  timeout connect 5000ms                   # max time to wait for a connection attempt to a server to succeed
  timeout client 50000ms                   # max inactivity time on the client side
  timeout server 50000ms                   # max inactivity time on the server side

frontend http-in 
  bind *:8000
  mode http
  default_backend apps 

frontend apps2
  bind *:8000
  default_backend apps2


backend apps 
  server app1 192.168.129.11:80 maxconn 32

backend apps2
  server srv1 10.10.10.1
  server srv2 10.10.10.2

listen stats
  bind *:9000
  mode http
  balance
  timeout client 5000
  timeout connect 4000
  timeout server 30000

  #This is the virtual URL to access the stats page
  stats uri /stats

  #Authentication realm. This can be set to anything. Escape space characters with a backslash.
  stats realm HAProxy\ Statistics 

  #The user/pass you want to use. Change this password!
  stats auth admin:admin

  #This allows you to take down and bring up back end servers.
  #This will produce an error on older versions of HAProxy.
  stats admin if TRUE
